# Created by https://www.toptal.com/developers/gitignore/api/vuejs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore
npm-debug.log
yarn-error.log
frontend/node_modules

# End of https://www.toptal.com/developers/gitignore/api/vuejs

.idea/
.vscode/
*.iml
.DS_Store
venv/
.pytest_cache/
**__pycache__/
rabbit/
test.py
Dockerfile
docker-compose.yml
worker/Dockerfile
.dockerignore
main_test.py

backend/attachments/
db.sqlite3

